.main-content {
    -webkit-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.nav-tabs > li > a {
    color: #159957;
}
.nav > li > a:hover {
    background-color: #f7f7f7;
}

.main-content dl dd {
    font-size: 1rem;
}

.main-content dl dt {
    margin-top: 1.6rem;
}
