body {
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}
textarea {
    resize: vertical;
    min-height: 60px;
}
.syntaxhighlighter {
    border-radius: 4px;
    box-shadow: 0 0 6px 1px #1b2426;
    padding: 8px;
}

.math {
    font-family: STIXGeneral-Regular;
}
var.math {
    font-family: STIXGeneral-Italic;
}

ul.spaced li {
    margin-top: 6px;
    margin-bottom: 6px;
}
.label-option {
    background-color: #159957;
}
.label-var {
    background-color: #155799;
}


h3.project-tagline {
    font-size: 1rem;
    margin-top: -1rem;
}

.page-header .link {
    color: inherit;
    text-decoration: underline;
}
.page-header .btn:focus {
    color: rgba(255, 255, 255, 0.7);
}

dt span.label {
    margin-left: 14px;
}

.main-content {
    background-color: rgba(255,255,255,0.95);
    border-radius: 4px;
    -webkit-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 60px;
    max-width: 90rem;
}

.nav-tabs > li > a {
    color: #159957;
    text-transform: capitalize;
}
.nav > li > a:hover {
    background-color: #f7f7f7;
}
.main-content dl dd {
    font-size: 1rem;
}

.main-content dl dt {
    margin-top: 1.6rem;
}

.tab-content {
    min-height: 200px;
}

.tab-pane {
    padding-top: 10px;
}
.tab-pane > h3 {
    text-transform: capitalize;
}

.invalid {
    border: 1px solid rgb(187, 34, 34);
    color: rgb(187, 34, 34);
}
.invalid:focus, [type='checkbox'].invalid, [type='radio'].invalid {
    border-color: rgb(187, 34, 34);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(187, 34, 34, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(187, 34, 34, .6);
}
[type='checkbox'].invalid, [type='radio'].invalid {
    border-radius: 50%;
}
.error_state {
    background-color: rgb(36, 182, 69);
    border-radius: 50%;
    height: 30px;
    margin-top: 33px;
    width: 30px;
}
.error_state.invalid {
    background-color: rgb(187, 34, 34);
}
.error_message {
    margin-top: 33px;
}


.modal-header .modal-title {
    margin: inherit;
}
